<div class="table--container">
    <div class="heading--container">
        <span class="heading">All users details</span> 
        <span>
            <p-button class="button" label="Add new user" [raised]="true" type="button" severity="warning" (click)="onCreateUser()"></p-button>
        </span>
    </div>
    
    <p-table [columns]="displayColumn" [value]="userDataArray"  styleClass="p-datatable-gridlines" class="card">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="header" *ngFor="let col of columns">
                    {{ col | uppercase}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-userDetail >
            <tr>
                <td>
                    {{ userDetail.name | uppercase }}
                </td>
                
                <td class="flex flex-row column-gap-2" >
                    <p-button class="button" label="view" [raised]="true" severity="info" (click)="viewUser(userDetail.id)"></p-button>
                    
                </td>
            </tr>
        </ng-template>

    
    </p-table>
</div>
