.table--container{
    /* background-color: lavender; */
    height: auto;
}
.heading--container{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 20px 0px;
}
.button {
    .p-button{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 6px;
    }
}

:host ::ng-deep .p-datatable > .p-datatable-wrapper{
    overflow: visible;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th { 
    position: -webkit-sticky; 
    position: sticky; 
    top: 0px; 
    z-index: 100;
}

.card{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin: 0px 20px;
    max-height: 800px;
    overflow-y: auto;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.heading{
    font-size: xx-large;
    font-weight: 800;
}
