<div class="table--container">
    <h2 class=" heading">Users details</h2>
    <p-table [columns]="displayColumn" [value]="userDetailValues" [tableStyle]="{ 'min-width': '50rem' }" class="card">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="header" *ngFor="let col of columns">
                    {{ col | uppercase}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-userDetail >
            <tr>
                <td>
                    {{ userDetail.name | uppercase }}
                </td>
                <td>{{userDetail.email}}</td>
                <td>{{userDetail.dob |  date:'longDate'}}</td>
                <td>{{userDetail.number.internationalNumber}}</td>
                <td>{{userDetail.institute}}</td>
                <td>{{userDetail.catagory.name}}</td>
                <td>{{userDetail.percentage}}</td>
                <td>{{userDetail.gender}}</td>
                <td *ngIf="userDetail.hobby">{{userDetail.hobby}}</td>
                <td *ngIf="userDetail.address">{{userDetail.address}}</td>
                <td *ngIf="userDetail.summary">{{userDetail.summary}}</td>
                <td class="flex flex-row column-gap-2">
                    <p-button class="button" label="Edit" [raised]="true" severity="info" type="button" (click)="onEditUser(userDetail.id)"></p-button>
                    <p-button class="button" label="Delete" [raised]="true" type="button" severity="secondary" (click)="onDeleteUser(userDetail.id)"></p-button>
                </td>
            </tr>
        </ng-template> 
    </p-table>
    <p-button class="showAll center padding--top" label="All User" [raised]="true" type="button" (click)="onShowAll()"></p-button>
</div>
