.table--container{
    height: 100vh;
}
.button {
    
    .p-button{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 6px;
    }
}

.center{
    margin-left:45%;
}
.padding--top{
    padding-top:20px;
}

.showAll{
    .p-button{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 6px;
        background: #f75555;
        border: none;
    }
    
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 20px;
}
.heading{
    padding: 20px;
}